// Place all the styles related to the organization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Bootstrap overrides
.navbar-brand {
  height:auto;
  .name {
    font-style: italic;
  }
  .world {
    margin-top: 10px;
    font-size: 40px;
  }
}
