.row
  .col-md-12.col-xs-12
    .instructions
      %div#legend-open
        %a.right{"ng-show"=>"instructionControl.show","ng-click"=>"instructionControl.show = !instructionControl.show","pageslide" => "left", "href"=>"#legend", "ps-speed"=>"0.5", "ps-parent" => "map","ps-custom-position"=>"absolute"} Open Link
    %div#map-container

      %div#map

.row{"ng-show"=>"currentSubject !== searchSubject"}
  .col-md-12.stats
    .row
      .col-md-3
        .stats-header{class:"{{currentSubject}}"}

          %h4
            {{ displaySubject }} OCR Providers Worldwide
          .provider-count {{ organizationsBySubject.length }}
          .add-data
            %a{"ui-sref"=>"organizations.new"}
              = image_tag(image_path("green_btn.png"))

      .col-md-3
        .stats-header{class:"{{currentSubject}}"}
          %h4 Recently Added  {{ displaySubject }} Providers
          %ul{"ng-repeat"=>"org in organizationsBySubject"}
            %li {{org.name}}
      .col-md-3
        .stats-header{class:"{{currentSubject}}"}
          %h4 Growth of {{ displaySubject }} Providers Over Time

      .col-md-3
        .stats-header{class:"{{currentSubject}}"}
          %h4 Top countries with the most {{ displaySubject }} providers

= render "organizations/map_slide"

= render "organizations/tooltip_template"