.row{"ng-show"=>"$state.current === undefined || $state.current.name === 'organizations'"}
  .col-md-12.col-xs-12
    .instructions
      %div#legend-open
        %a.right{"ng-show"=>"instructionControl.show","ng-click"=>"instructionControl.show = !instructionControl.show","pageslide" => "left", "href"=>"#legend", "ps-speed"=>"0.5", "ps-parent" => "map","ps-custom-position"=>"absolute"} Open Link
    %div#map-container

      %div#map
.row
  .col-md-12.stats{"ui-view"=>true,"ng-show"=>"$state.current === undefined || $state.current.name === 'organizations'"}






= render "map_slide"

= render "tooltip_template"
= render "subject_stats_template"