.row
  .col-md-1.col-xs-1.instructions
    %div#legend-open
      %a.right{"ng-show"=>"instructionControl.show","ng-click"=>"instructionControl.show = !instructionControl.show","pageslide" => "left", "href"=>"#legend", "ps-speed"=>"0.5", "ps-parent" => "map-container","ps-custom-position"=>"absolute"} Open Link
  .col-md-11.col-xs-11.map
    %div#map-container

      %div#map

.row
  .col-md-12
    %div

      %div{"ng-show" => 'organizations.length > 0'}
        %table
          %thead>
            %tr
              %th{colspan:"4"} Organizations
          %tbody>
            = render "organizations/org_row"

= render "map_slide"

= render "tooltip_template"